:root {
  /* Gap [Grid Column Gap] The gap between the chat unit*/
  --gap: 0.25em;
  
  /* Height of wrapper*/
  --wrapper-height: calc((28 / 24) * {{fontSize}} + var(--gap));
  

}


body {
  	height: 100vh;
  	margin: 0;
}


.duochat-wrapper {
  display: grid;
  row-gap: var(--gap);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  
  
  margin-top: 15px;
  width: 100%;
  height: var(--wrapper-height);
}

.shiro-warpper {
}

.kuro-wrapper{ 
}

.msg-typography {
  font-size: {{fontSize}}pt;
  font-family: {{googleFont}};
  font-weight: normal;
  line-height: calc((28 / 24));
  
  padding-left: 1.3em;
  padding-right: .5em;
  
  /* Overflow */
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}


.msg-kuro, .msg-shiro{
  display: inline-block;
  float: right;
  
  /* Geometry */
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  
  /* Animation */
  transition: all .5s ease-in-out;
}


.msg-shiro {
  border-top-left-radius: 80px 80px;
  
  color: {{shiroTextColor}};
  background-color: {{shiroCellColor}};
}


.msg-kuro {
  border-bottom-left-radius: 80px 80px;
  
  color: {{kuroTextColor}};
  background-color: {{kuroCellColor}};
}


.emote {
  background-repeat: no-repeat;
}


/* Animmation */
.blend-in {
  animation: In 500ms ease;
  animation-fill-mode: forwards;
}


.blend-out {
  animation: Out 500ms ease;
  animation-fill-mode: forwards;
}


@keyframes In {
  0% {opacity: 0%}
  100% {opacity: 100%}
}


@keyframes Out {
  0% {opacity: 100%}
  100% {opacity: 0%}
}
@import url('https://fonts.cdnfonts.com/css/lucida-console');

:root {
  /* Gap [Grid Column Gap] The gap between the chat unit*/
  --gap: 0.25em;
  
  /* Height of wrapper*/
  --wrapper-height: calc((28 / 24) * {{fontSize}} + var(--gap));
  

}


body {
    height: 100vh;
    margin: 0;
}


.duochat-wrapper {
  display: grid;
  row-gap: var(--gap);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  
  
  margin-top: 15px;
  width: 100%;
  height: var(--wrapper-height);
}

.shiro-warpper {
}

.kuro-wrapper{ 
}

.msg-typography {
  font-size: {{fontSize}}pt;
  font-family: {{googleFont}};
  font-weight: normal;
  line-height: calc((28 / 24));
  
  padding-left: 1.3em;
  padding-right: .5em;
  
  /* Overflow */
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}


.msg-kuro, .msg-shiro{
  display: inline-block;
  float: right;
  
  /* Geometry */
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  
  /* Animation */
  transition: all .5s ease-in-out;
}


.msg-shiro {
  border-top-left-radius: 80px 80px;
  
  color: {{shiroTextColor}};
  background-color: {{shiroCellColor}};
}


.msg-kuro {
  border-bottom-left-radius: 80px 80px;
  
  color: {{kuroTextColor}};
  background-color: {{kuroCellColor}};
}


.emote {
  background-repeat: no-repeat;
}


/* Animmation */
.blend-in {
  animation: In 500ms ease;
  animation-fill-mode: forwards;
}


.blend-out {
  animation: Out 500ms ease;
  animation-fill-mode: forwards;
}


@keyframes In {
  0% {opacity: 0%}
  100% {opacity: 100%}
}


@keyframes Out {
  0% {opacity: 100%}
  100% {opacity: 0%}
}
